In [48]:
import matplotlib.pyplot as mtp
import pandas as pd
import numpy as np

#importing datasets
df=pd.read_csv(r"D:\DataScience\MainProjects\MLprojects\ML_project_data\african_crises.csv")
df

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [49]:
for i in df:
    j=i.replace(' ','_')
    df=df.rename(columns={i:j.capitalize()})
df

,Case,Cc3,Country,Year,Systemic_crisis,Exch_usd,Domestic_debt_in_default,Sovereign_external_debt_default,Gdp_weighted_default,Inflation_annual_cpi,Independence,Currency_crises,Inflation_crises,Banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [50]:
df.isnull().sum()

Case                               0
Cc3                                0
Country                            0
Year                               0
Systemic_crisis                    0
Exch_usd                           0
Domestic_debt_in_default           0
Sovereign_external_debt_default    0
Gdp_weighted_default               0
Inflation_annual_cpi               0
Independence                       0
Currency_crises                    0
Inflation_crises                   0
Banking_crisis                     0
dtype: int64

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Case                             1059 non-null   int64
 1   Cc3                              1059 non-null   object
 2   Country                          1059 non-null   object
 3   Year                             1059 non-null   int64
 4   Systemic_crisis                  1059 non-null   int64
 5   Exch_usd                         1059 non-null   float64
 6   Domestic_debt_in_default         1059 non-null   int64
 7   Sovereign_external_debt_default  1059 non-null   int64
 8   Gdp_weighted_default             1059 non-null   float64
 9   Inflation_annual_cpi             1059 non-null   float64
 10  Independence                     1059 non-null   int64
 11  Currency_crises                  1059 non-null   int64
 12  Inflation_crises                 1059 non-null   int64
 13  Banking_crisis                   1059 non-null   object
dtypes: float64(3), int64(8), object(3)
memory usage: 116.0+ KB

In [52]:
df["Banking_crisis"].value_counts()

no_crisis    965
crisis        94
Name: Banking_crisis, dtype: int64

In [53]:
df.replace({"no_crisis": 1, "crisis": 0}, inplace=True)

In [54]:
df["Country"].value_counts()

Egypt                       155
South Africa                114
Zimbabwe                     90
Algeria                      85
Angola                       77
Morocco                      75
Tunisia                      75
Zambia                       72
Mauritius                    68
Kenya                        67
Ivory Coast                  63
Nigeria                      60
Central African Republic     58
Name: Country, dtype: int64

In [55]:
from sklearn.preprocessing import LabelEncoder


# Initialize and apply LabelEncoder
label_encoder = LabelEncoder()
df['Country'] = label_encoder.fit_transform(df['Country'])

df

,Case,Cc3,Country,Year,Systemic_crisis,Exch_usd,Domestic_debt_in_default,Sovereign_external_debt_default,Gdp_weighted_default,Inflation_annual_cpi,Independence,Currency_crises,Inflation_crises,Banking_crisis
0,1,DZA,0,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,0
1,1,DZA,0,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,1
2,1,DZA,0,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,1
3,1,DZA,0,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,1
4,1,DZA,0,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,12,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,0
1055,70,ZWE,12,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,1
1056,70,ZWE,12,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,1
1057,70,ZWE,12,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,1
1058,70,ZWE,12,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,1

In [56]:
df["Cc3"].value_counts()

EGY    155
ZAF    114
ZWE     90
DZA     85
AGO     77
MAR     75
TUN     75
ZMB     72
MUS     68
KEN     67
CIV     63
NGA     60
CAF     58
Name: Cc3, dtype: int64

In [57]:
from sklearn.preprocessing import LabelEncoder


# Initialize and apply LabelEncoder
label_encoder = LabelEncoder()
df['Cc3'] = label_encoder.fit_transform(df['Cc3'])

df

,Case,Cc3,Country,Year,Systemic_crisis,Exch_usd,Domestic_debt_in_default,Sovereign_external_debt_default,Gdp_weighted_default,Inflation_annual_cpi,Independence,Currency_crises,Inflation_crises,Banking_crisis
0,1,3,0,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,0
1,1,3,0,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,1
2,1,3,0,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,1
3,1,3,0,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,1
4,1,3,0,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,12,12,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,0
1055,70,12,12,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,1
1056,70,12,12,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,1
1057,70,12,12,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,1
1058,70,12,12,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,1

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Case                             1059 non-null   int64
 1   Cc3                              1059 non-null   int32
 2   Country                          1059 non-null   int32
 3   Year                             1059 non-null   int64
 4   Systemic_crisis                  1059 non-null   int64
 5   Exch_usd                         1059 non-null   float64
 6   Domestic_debt_in_default         1059 non-null   int64
 7   Sovereign_external_debt_default  1059 non-null   int64
 8   Gdp_weighted_default             1059 non-null   float64
 9   Inflation_annual_cpi             1059 non-null   float64
 10  Independence                     1059 non-null   int64
 11  Currency_crises                  1059 non-null   int64
 12  Inflation_crises                 1059 non-null   int64
 13  Banking_crisis                   1059 non-null   int64
dtypes: float64(3), int32(2), int64(9)
memory usage: 107.7 KB

In [59]:
from sklearn.metrics import accuracy_score

In [60]:
x= df.iloc[:, 1:-1].values
y= df.iloc[:, -1].values

In [61]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25,random_state=0)

In [62]:
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier(n_estimators= 10,criterion="entropy")
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [63]:
y_pred= classifier.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: %.2f' % (accuracy*100))

Accuracy: 98.49